
<!-- <p>Find me in app/views/offerings/index.html.erb</p> -->
<!-- <h1> list of offerings </h1> -->
  <div class="banner" style="background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2018/05/10/11/34/concert-3387324_960_720.jpg);">
    <div class="container">
      <h2>Music is my life </h2>
      <h2>and my life is music!</h2>
      <p>Hire the best bands in your city</p>
    </div>
  </div>
<% @offerings.each do |offering| %>
  <li> <%= offering.name  %> </li>
  <li> <%= offering.price_hour  %> </li>
  <li> <%= offering.genre %> </li>
  <li> <%= offering.description  %> </li>
  <br>
  <% end %>


