.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 80px 80px;
  margin-bottom: 60px;
}

.banner h2 {
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 48px;

}

.banner p {
  color: white;
  opacity: 0.9;
  font-size: 24px;
  font-family: Montserrat, sans-serif;
}

