// .form-style {
//   margin: 40px 0px 40px 0px;
// }

.form-card {
    background-color: white;
    box-shadow: 0px 1px 3px #7B7676;
    padding: 30px 50px 30px 50px;
    margin-bottom: 70px;
    margin-top: 0px;
    border-radius: 9px;
}

